<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<bean id="adminService" class="com.alu.lvzi.service.impl.AdminServiceImpl" scope="singleton">
		<property name="adminDAO" ref="adminDAO" />
	</bean>
	
	<bean id="privilegeService" class="com.alu.lvzi.service.impl.PrivilegeServiceImpl" scope="singleton">
		<property name="privilegeDAO" ref="privilegeDAO" />
	</bean>
	
	<bean id="uploadPictureService" class="com.alu.lvzi.service.impl.UploadPictureServiceImpl" scope="singleton" />
	
	<bean id="rfidBatchService" class="com.alu.lvzi.service.impl.RfidBatchServiceImpl" scope="singleton" >
		<property name="rfidBatchDAO" ref="rfidBatchDAO" />
		<property name="rfidDAO" ref="rfidDAO" />
	</bean>
	
</beans>